  body {
    color:#404040;
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin:0;
    padding:0;
    -webkit-font-smoothing:antialiased;
  }

  * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  .sidebar {
    position:absolute;
    width:33.3333%;
    height:100%;
    top:0;left:0;
    overflow:hidden;
    border-right:1px solid rgba(0,0,0,0.25);
  }
  .pad2 {
    padding:20px;
  }

  .map {
    position:absolute;
    left:33.3333%;
    width:66.6666%;
    top:0;bottom:0;
  }

  h1 {
    font-size:22px;
    margin:0;
    font-weight:400;
    line-height: 20px;
    padding: 20px 2px;
  }

  a {
    color:#404040;
    text-decoration:none;
  }

  a:hover {
    color:#101010;
  }

  .heading {
    background:#fff;
    border-bottom:1px solid #eee;
    min-height:60px;
    line-height:60px;
    padding:0 10px;
    background-color: #213B63;
    color: #fff;
  }

  .listings {
    height:100%;
    overflow:auto;
    padding-bottom:60px;
  }

  .listings .item {
    display:block;
    border-bottom:1px solid #f7f7f7;
    padding:10px;
    text-decoration:none;
  }

  .listings .item:last-child { border-bottom:none; }
  .listings .item .title {
    display:block;
    color:#213B63;
    font-weight:550;
  }

  .listings .item .title small { font-weight:400; }
  .listings .item.active .title,
  .listings .item .title:hover { color:#637591; }
  .listings .item.active {
    background-color:#f7f7f7;
  }
  ::-webkit-scrollbar {
    width:3px;
    height:3px;
    border-left:0;
    background:rgba(0,0,0,0.1);
  }
  ::-webkit-scrollbar-track {
    background:none;
  }
  ::-webkit-scrollbar-thumb {
    background:#213B63;
    border-radius:0;
  }

  .marker {
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background-image: url(marker-lg.png);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
  }

  .clearfix { display:block; }
  .clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }

  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  .mapboxgl-popup-close-button {
    display:none;
  }
  .mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:180px;
  }
  .mapboxgl-popup-content-wrapper {
    padding:1%;
  }
  .mapboxgl-popup-content h3 {
    background:#213b63;
    color:#fff;
    margin:0;
    display:block;
    padding:10px;
    border-radius:3px 3px 0 0;
    font-weight:700;
    margin-top:-15px;
  }

  .mapboxgl-popup-content h4 {
    margin:0;
    display:block;
    padding: 10px 10px 10px 10px;
    font-weight:400;
  }

  .mapboxgl-popup-content div {
    padding:10px;
  }

  .mapboxgl-container .leaflet-marker-icon {
    cursor:pointer;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #213B63;
  }

  .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -49.2%;
    top: 135px;
  }

  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
  }

  .p-4 {
    padding: 2.25rem !important; }
  
  .pt-4,
  .py-4 {
    padding-top: 2.25rem !important; }
  
  .pr-4,
  .px-4 {
    padding-right: 2.25rem !important; }
  
  .pb-4,
  .py-4 {
    padding-bottom: 2.25rem !important; }
  
  .pl-4,
  .px-4 {
    padding-left: 2.25rem !important; }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
  
  .container {
    max-width: 540px; } }
    @media (min-width: 768px) {
  
  .container {
    max-width: 720px; } }
    @media (min-width: 992px) {

  .container {
    max-width: 960px; } }
    @media (min-width: 1200px) {
      
  .container {
    max-width: 1140px; } }

  .form-group {
    margin-bottom: 1rem; }

    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 200;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
      @media (prefers-reduced-motion: reduce) {
        .form-control {
          transition: none; } }
      .form-control::-ms-expand {
        background-color: transparent;
        border: 0; }
      .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #4374c0;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(33, 59, 99, 0.25); }
      .form-control::-webkit-input-placeholder {
        color: #6c757d;
        opacity: 1; }
      .form-control:-ms-input-placeholder {
        color: #6c757d;
        opacity: 1; }
      .form-control::-ms-input-placeholder {
        color: #6c757d;
        opacity: 1; }
      .form-control::placeholder {
        color: #6c757d;
        opacity: 1; }
      .form-control:disabled, .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1; }
    
    select.form-control:focus::-ms-value {
      color: #495057;
      background-color: #fff; }
    
    .form-control-file,
    .form-control-range {
      display: block;
      width: 100%; }
    
    .col-form-label {
      padding-top: calc(0.375rem + 1px);
      padding-bottom: calc(0.375rem + 1px);
      margin-bottom: 0;
      font-size: inherit;
      line-height: 1.5; }
    
    .col-form-label-lg {
      padding-top: calc(0.5rem + 1px);
      padding-bottom: calc(0.5rem + 1px);
      font-size: 1.25rem;
      line-height: 1.5; }
    
    .col-form-label-sm {
      padding-top: calc(0.25rem + 1px);
      padding-bottom: calc(0.25rem + 1px);
      font-size: 0.875rem;
      line-height: 1.5; }
    
    .form-control-plaintext {
      display: block;
      width: 100%;
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      margin-bottom: 0;
      line-height: 1.5;
      color: #333;
      background-color: transparent;
      border: solid transparent;
      border-width: 1px 0; }
      .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
        padding-right: 0;
        padding-left: 0; }
    
    .form-control-sm {
      height: calc(1.5em + 0.5rem + 2px);
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem; }
    
    .form-control-lg {
      height: calc(1.5em + 1rem + 2px);
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem; }
    
    select.form-control[size], select.form-control[multiple] {
      height: auto; }
    
    textarea.form-control {
      height: auto; }
    
    .form-group {
      margin-bottom: 1rem; }
    
    .form-text {
      display: block;
      margin-top: 0.25rem; }
    
    .form-row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -5px;
      margin-left: -5px; }
      .form-row > .col,
      .form-row > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px; }
    
    .form-check {
      position: relative;
      display: block;
      padding-left: 1.25rem; }
    
    .form-check-input {
      position: absolute;
      margin-top: 0.3rem;
      margin-left: -1.25rem; }
      .form-check-input:disabled ~ .form-check-label {
        color: #6c757d; }
    
    .form-check-label {
      margin-bottom: 0; }
    
    .form-check-inline {
      display: inline-flex;
      align-items: center;
      padding-left: 0;
      margin-right: 0.75rem; }
      .form-check-inline .form-check-input {
        position: static;
        margin-top: 0;
        margin-right: 0.3125rem;
        margin-left: 0; }
    
    .valid-feedback {
      display: none;
      width: 100%;
      margin-top: 0.25rem;
      font-size: 80%;
      color: #213B63; }
    
    .valid-tooltip {
      position: absolute;
      top: 100%;
      z-index: 5;
      display: none;
      max-width: 100%;
      padding: 0.25rem 0.5rem;
      margin-top: .1rem;
      font-size: 0.875rem;
      line-height: 1.5;
      color: #fff;
      background-color: rgba(40, 167, 69, 0.9);
      border-radius: 0.25rem; }
    
    .was-validated .form-control:valid, .form-control.is-valid {
      border-color: #213B63;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center right calc(0.375em + 0.1875rem);
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); }
      .was-validated .form-control:valid:focus, .form-control.is-valid:focus {
        border-color: #213B63;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }
      .was-validated .form-control:valid ~ .valid-feedback,
      .was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
      .form-control.is-valid ~ .valid-tooltip {
        display: block; }
    
    .was-validated textarea.form-control:valid, textarea.form-control.is-valid {
      padding-right: calc(1.5em + 0.75rem);
      background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem); }
    
    .was-validated .custom-select:valid, .custom-select.is-valid {
      border-color: #213B63;
      padding-right: calc((1em + 0.75rem) * 3 / 4 + 1.75rem);
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); }
      .was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
        border-color: #213B63;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }
      .was-validated .custom-select:valid ~ .valid-feedback,
      .was-validated .custom-select:valid ~ .valid-tooltip, .custom-select.is-valid ~ .valid-feedback,
      .custom-select.is-valid ~ .valid-tooltip {
        display: block; }
    
    .was-validated .form-control-file:valid ~ .valid-feedback,
    .was-validated .form-control-file:valid ~ .valid-tooltip, .form-control-file.is-valid ~ .valid-feedback,
    .form-control-file.is-valid ~ .valid-tooltip {
      display: block; }
    
    .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
      color: #213B63; }
    
    .was-validated .form-check-input:valid ~ .valid-feedback,
    .was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
    .form-check-input.is-valid ~ .valid-tooltip {
      display: block; }
    
    .was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
      color: #213B63; }
      .was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
        border-color: #213B63; }
    
    .was-validated .custom-control-input:valid ~ .valid-feedback,
    .was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
    .custom-control-input.is-valid ~ .valid-tooltip {
      display: block; }
    
    .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
      border-color: #637591;
      background-color: #637591; }
    
    .was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }
    
    .was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
      border-color: #213B63; }
    
    .was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
      border-color: #213B63; }
    
    .was-validated .custom-file-input:valid ~ .valid-feedback,
    .was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
    .custom-file-input.is-valid ~ .valid-tooltip {
      display: block; }
    
    .was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
      border-color: #213B63;
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }
    
    .invalid-feedback {
      display: none;
      width: 100%;
      margin-top: 0.25rem;
      font-size: 80%;
      color: #dc3545; }
    
    .invalid-tooltip {
      position: absolute;
      top: 100%;
      z-index: 5;
      display: none;
      max-width: 100%;
      padding: 0.25rem 0.5rem;
      margin-top: .1rem;
      font-size: 0.875rem;
      line-height: 1.5;
      color: #fff;
      background-color: rgba(220, 53, 69, 0.9);
      border-radius: 0.25rem; }
    
    .was-validated .form-control:invalid, .form-control.is-invalid {
      border-color: #dc3545;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
      background-repeat: no-repeat;
      background-position: center right calc(0.375em + 0.1875rem);
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); }
      .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
      .was-validated .form-control:invalid ~ .invalid-feedback,
      .was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
      .form-control.is-invalid ~ .invalid-tooltip {
        display: block; }
    
    .was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
      padding-right: calc(1.5em + 0.75rem);
      background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem); }
    
    .was-validated .custom-select:invalid, .custom-select.is-invalid {
      border-color: #dc3545;
      padding-right: calc((1em + 0.75rem) * 3 / 4 + 1.75rem);
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); }
      .was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
      .was-validated .custom-select:invalid ~ .invalid-feedback,
      .was-validated .custom-select:invalid ~ .invalid-tooltip, .custom-select.is-invalid ~ .invalid-feedback,
      .custom-select.is-invalid ~ .invalid-tooltip {
        display: block; }
    
    .was-validated .form-control-file:invalid ~ .invalid-feedback,
    .was-validated .form-control-file:invalid ~ .invalid-tooltip, .form-control-file.is-invalid ~ .invalid-feedback,
    .form-control-file.is-invalid ~ .invalid-tooltip {
      display: block; }
    
    .was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
      color: #dc3545; }
    
    .was-validated .form-check-input:invalid ~ .invalid-feedback,
    .was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
    .form-check-input.is-invalid ~ .invalid-tooltip {
      display: block; }
    
    .was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
      color: #dc3545; }
      .was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
        border-color: #dc3545; }
    
    .was-validated .custom-control-input:invalid ~ .invalid-feedback,
    .was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
    .custom-control-input.is-invalid ~ .invalid-tooltip {
      display: block; }
    
    .was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
      border-color: #e4606d;
      background-color: #e4606d; }
    
    .was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
    
    .was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
      border-color: #dc3545; }
    
    .was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
      border-color: #dc3545; }
    
    .was-validated .custom-file-input:invalid ~ .invalid-feedback,
    .was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
    .custom-file-input.is-invalid ~ .invalid-tooltip {
      display: block; }
    
    .was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
      border-color: #dc3545;
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
    
    .form-inline {
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      .form-inline .form-check {
        width: 100%; }
      @media (min-width: 576px) {
        .form-inline label {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 0; }
        .form-inline .form-group {
          display: flex;
          flex: 0 0 auto;
          flex-flow: row wrap;
          align-items: center;
          margin-bottom: 0; }
        .form-inline .form-control {
          display: inline-block;
          width: auto;
          vertical-align: middle; }
        .form-inline .form-control-plaintext {
          display: inline-block; }
        .form-inline .input-group,
        .form-inline .custom-select {
          width: auto; }
        .form-inline .form-check {
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
          padding-left: 0; }
        .form-inline .form-check-input {
          position: relative;
          flex-shrink: 0;
          margin-top: 0;
          margin-right: 0.25rem;
          margin-left: 0; }
        .form-inline .custom-control {
          align-items: center;
          justify-content: center; }
        .form-inline .custom-control-label {
          margin-bottom: 0; } }

  .btn {
    display: inline-block;
    font-weight: 200;
    color: #333;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .btn {
        transition: none; } }
    .btn:hover {
      color: #333;
      text-decoration: none; }
    .btn:focus, .btn.focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(33, 59, 99, 0.25); }
    .btn.disabled, .btn:disabled {
      opacity: 0.65;
      box-shadow: none; }
    .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
      .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus {
        box-shadow: 0 0 0 0.2rem rgba(33, 59, 99, 0.25), inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  
    a.btn.disabled,
    fieldset:disabled a.btn {
      pointer-events: none; }
    
    .btn-primary {
      color: #fff;
      background-color: #213B63;
      border-color: #213B63;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
      .btn-primary:hover {
        color: #fff;
        background-color: #172a46;
        border-color: #14243d; }
      .btn-primary:focus, .btn-primary.focus {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(66, 88, 122, 0.5); }
      .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #213B63;
        border-color: #213B63; }
      .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
      .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #14243d;
        border-color: #111f33; }
        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(66, 88, 122, 0.5); }
    
    .btn-secondary {
      color: #212529;
      background-color: #213B63;
      border-color: #213B63;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
      .btn-secondary:hover {
        color: #fff;
        background-color: #213B63;
        border-color: #213B63; }
      .btn-secondary:focus, .btn-secondary.focus {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(106, 160, 78, 0.5); }
      .btn-secondary.disabled, .btn-secondary:disabled {
        color: #212529;
        background-color: #213B63;
        border-color: #213B63; }
      .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
      .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #213B63;
        border-color: #213B63; }
        .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-secondary.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(106, 160, 78, 0.5); }
    
    .btn-success {
      color: #fff;
      background-color: #213B63;
      border-color: #213B63;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
      .btn-success:hover {
        color: #fff;
        background-color: #213B63;
        border-color: #213B63; }
      .btn-success:focus, .btn-success.focus {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(72, 180, 97, 0.5); }
      .btn-success.disabled, .btn-success:disabled {
        color: #fff;
        background-color: #213B63;
        border-color: #213B63; }
      .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
      .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: #213B63;
        border-color: #213B63; }
        .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
        .show > .btn-success.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(72, 180, 97, 0.5); }
    
    .btn-info {
      color: #212529;
      background-color: #ccc;
      border-color: #ccc;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
      .btn-info:hover {
        color: #212529;
        background-color: #b9b9b9;
        border-color: #b3b3b3; }
      .btn-info:focus, .btn-info.focus {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(178, 179, 180, 0.5); }
      .btn-info.disabled, .btn-info:disabled {
        color: #212529;
        background-color: #ccc;
        border-color: #ccc; }
      .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
      .show > .btn-info.dropdown-toggle {
        color: #212529;
        background-color: #b3b3b3;
        border-color: #acacac; }
        .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
        .show > .btn-info.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(178, 179, 180, 0.5); }
    
    .btn-warning {
      color: #212529;
      background-color: #ffc107;
      border-color: #ffc107;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
      .btn-warning:hover {
        color: #212529;
        background-color: #e0a800;
        border-color: #d39e00; }
      .btn-warning:focus, .btn-warning.focus {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(222, 170, 12, 0.5); }
      .btn-warning.disabled, .btn-warning:disabled {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107; }
      .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
      .show > .btn-warning.dropdown-toggle {
        color: #212529;
        background-color: #d39e00;
        border-color: #c69500; }
        .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
        .show > .btn-warning.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(222, 170, 12, 0.5); }
    
    .btn-danger {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
      .btn-danger:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130; }
      .btn-danger:focus, .btn-danger.focus {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(225, 83, 97, 0.5); }
      .btn-danger.disabled, .btn-danger:disabled {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545; }
      .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
      .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #bd2130;
        border-color: #b21f2d; }
        .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
        .show > .btn-danger.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(225, 83, 97, 0.5); }
    
    .btn-light {
      color: #212529;
      background-color: #ffffff;
      border-color: #ffffff;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
      .btn-light:hover {
        color: #212529;
        background-color: #ececec;
        border-color: #e6e6e6; }
      .btn-light:focus, .btn-light.focus {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(222, 222, 223, 0.5); }
      .btn-light.disabled, .btn-light:disabled {
        color: #212529;
        background-color: #ffffff;
        border-color: #ffffff; }
      .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
      .show > .btn-light.dropdown-toggle {
        color: #212529;
        background-color: #e6e6e6;
        border-color: #dfdfdf; }
        .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
        .show > .btn-light.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(222, 222, 223, 0.5); }
    
    .btn-dark {
      color: #fff;
      background-color: #000000;
      border-color: #000000;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
      .btn-dark:hover {
        color: #fff;
        background-color: black;
        border-color: black; }
      .btn-dark:focus, .btn-dark.focus {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(38, 38, 38, 0.5); }
      .btn-dark.disabled, .btn-dark:disabled {
        color: #fff;
        background-color: #000000;
        border-color: #000000; }
      .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
      .show > .btn-dark.dropdown-toggle {
        color: #fff;
        background-color: black;
        border-color: black; }
        .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
        .show > .btn-dark.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(38, 38, 38, 0.5); }
    
    .btn-outline-primary {
      color: #213B63;
      border-color: #213B63; }
      .btn-outline-primary:hover {
        color: #fff;
        background-color: #213B63;
        border-color: #213B63; }
      .btn-outline-primary:focus, .btn-outline-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(33, 59, 99, 0.5); }
      .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #213B63;
        background-color: transparent; }
      .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
      .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #213B63;
        border-color: #213B63; }
        .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-primary.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(33, 59, 99, 0.5); }
    
    .btn-outline-secondary {
      color: #77B655;
      border-color: #77B655; }
      .btn-outline-secondary:hover {
        color: #212529;
        background-color: #77B655;
        border-color: #77B655; }
      .btn-outline-secondary:focus, .btn-outline-secondary.focus {
        box-shadow: 0 0 0 0.2rem rgba(119, 182, 85, 0.5); }
      .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
        color: #77B655;
        background-color: transparent; }
      .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
      .show > .btn-outline-secondary.dropdown-toggle {
        color: #212529;
        background-color: #77B655;
        border-color: #77B655; }
        .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-secondary.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(119, 182, 85, 0.5); }
    
    .btn-outline-success {
      color: #28a745;
      border-color: #28a745; }
      .btn-outline-success:hover {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745; }
      .btn-outline-success:focus, .btn-outline-success.focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
      .btn-outline-success.disabled, .btn-outline-success:disabled {
        color: #28a745;
        background-color: transparent; }
      .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
      .show > .btn-outline-success.dropdown-toggle {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745; }
        .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-success.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
    
    .btn-outline-info {
      color: #ccc;
      border-color: #ccc; }
      .btn-outline-info:hover {
        color: #212529;
        background-color: #ccc;
        border-color: #ccc; }
      .btn-outline-info:focus, .btn-outline-info.focus {
        box-shadow: 0 0 0 0.2rem rgba(204, 204, 204, 0.5); }
      .btn-outline-info.disabled, .btn-outline-info:disabled {
        color: #ccc;
        background-color: transparent; }
      .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
      .show > .btn-outline-info.dropdown-toggle {
        color: #212529;
        background-color: #ccc;
        border-color: #ccc; }
        .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-info.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(204, 204, 204, 0.5); }
    
    .btn-outline-warning {
      color: #ffc107;
      border-color: #ffc107; }
      .btn-outline-warning:hover {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107; }
      .btn-outline-warning:focus, .btn-outline-warning.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
      .btn-outline-warning.disabled, .btn-outline-warning:disabled {
        color: #ffc107;
        background-color: transparent; }
      .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
      .show > .btn-outline-warning.dropdown-toggle {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107; }
        .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-warning.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
    
    .btn-outline-danger {
      color: #dc3545;
      border-color: #dc3545; }
      .btn-outline-danger:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545; }
      .btn-outline-danger:focus, .btn-outline-danger.focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
      .btn-outline-danger.disabled, .btn-outline-danger:disabled {
        color: #dc3545;
        background-color: transparent; }
      .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
      .show > .btn-outline-danger.dropdown-toggle {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545; }
        .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-danger.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
    
    .btn-outline-light {
      color: #ffffff;
      border-color: #ffffff; }
      .btn-outline-light:hover {
        color: #212529;
        background-color: #ffffff;
        border-color: #ffffff; }
      .btn-outline-light:focus, .btn-outline-light.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
      .btn-outline-light.disabled, .btn-outline-light:disabled {
        color: #ffffff;
        background-color: transparent; }
      .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
      .show > .btn-outline-light.dropdown-toggle {
        color: #212529;
        background-color: #ffffff;
        border-color: #ffffff; }
        .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-light.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
    
    .btn-outline-dark {
      color: #000000;
      border-color: #000000; }
      .btn-outline-dark:hover {
        color: #fff;
        background-color: #000000;
        border-color: #000000; }
      .btn-outline-dark:focus, .btn-outline-dark.focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5); }
      .btn-outline-dark.disabled, .btn-outline-dark:disabled {
        color: #000000;
        background-color: transparent; }
      .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
      .show > .btn-outline-dark.dropdown-toggle {
        color: #fff;
        background-color: #000000;
        border-color: #000000; }
        .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-dark.dropdown-toggle:focus {
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 0, 0, 0.5); }
    
    .btn-link {
      font-weight: 200;
      color: #213B63;
      text-decoration: none; }
      .btn-link:hover {
        color: #0e192a;
        text-decoration: underline; }
      .btn-link:focus, .btn-link.focus {
        text-decoration: underline;
        box-shadow: none; }
      .btn-link:disabled, .btn-link.disabled {
        color: #6c757d;
        pointer-events: none; }
    
    .btn-lg, .btn-group-lg > .btn {
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem; }
    
    .btn-sm, .btn-group-sm > .btn {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem; }
    
    .btn-block {
      display: block;
      width: 100%; }
      .btn-block + .btn-block {
        margin-top: 0.5rem; }
    
    input[type="submit"].btn-block,
    input[type="reset"].btn-block,
    input[type="button"].btn-block {
      width: 100%; }

    .submit-button {
      background:none;
      border:none;
    }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
  color: #818181;
  display: block;
  transition: 0.0s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

